# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Environments
.env
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/
